{# HTML 5 shiv to allow HTML tags such as nav, header, etc to work in IE8 #}
  {# See: https://frontend.design-system.service.gov.uk/supporting-ie8/#support-internet-explorer-8 #}
<!--[if lt IE 9]>
    <script src="{{ jsPath }}/html5shiv.min.js"></script>
<![endif]-->

<!--[if !IE]><!-->
    <script nonce="{{ nonce }}" src="{{ jsPath }}/ui-fitnote-frontend.js?{{ version }}"></script>
<!--<![endif]-->

<script nonce="{{ nonce }}" type="application/javascript">
    var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;

    if (isIE11) {
        document.write('<script nonce="{{ nonce }}" src="{{ jsPath }}/ui-fitnote-frontend.js?{{ version }}"><\/script>');
    }
</script>
