<div id="cookie-choice-banner" class="govuk-body govuk-!-padding-top-4 govuk-!-margin-bottom-0" role="region"
    aria-label="cookie banner">
    <div id="cookie-confirm" class="cookie-banner--accept govuk-width-container" tabindex="-1">
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-3">{{ t('app:cookie-banner-accept') }} <a class="govuk-link"
                href="/cookies/cookie_policy?previousPage={{currentPage}}" data-module="track-click"
                data-track-category="cookieBanner"
                data-track-action="Cookie banner settings clicked from confirmation">{{ t('app:cookie-banner-6') }}</a> {{ t('app:cookie-banner-7') }}
        </p>
        <a id="hide-banner" href="#"
            class="cookie-banner--hide govuk-link govuk-!-margin-top-1  govuk-!-margin-bottom-3"
            data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner"
            data-track-action="Hide cookie banner">{{ t('app:cookie-banner-hide-button') }}</a>
    </div>
</div>