{% set url = '/cookie-agree?postback=' %}
{% if currentPage != 'cookies' %}
<div aria-label="cookie banner" style="display: block;">
    <div class="govuk-width-container">
        <div class="govuk-grid-row pad-vertical-20">
            <div class="govuk-grid-column-two-thirds govuk-body">
                <div id="cookie-message">
                    <div class="">
                        <h2 class="govuk-heading-m">{{ t('app:cookie-banner-1') }}</h2>
                        <p class="govuk-!-margin-bottom-4">{{ t('app:cookie-banner-2') }}</p>

                        <p class="govuk-!-margin-bottom-4">{{ t('app:cookie-banner-3') }} <a class="govuk-link"
                                href="/cookies/cookies_details">{{ t('app:cookie-banner-4') }}</a>{{ t('app:cookie-banner-5') }}
                        </p>
                    </div>
                    {% if currentPage == 'create-account' %}
                    <div>
                        <a id="show-accept" class="govuk-button" type="submit" data-module="track-click"
                            data-accept-cookies="true" data-track-category="cookieBanner"
                            data-track-action="Cookie banner accepted"
                            href="{{url}}index&consent={{true}}&token={{token}}">{{ t('app:cookie-button-1') }}</a>

                        <a id="show-reject" class="govuk-button" type="submit" data-module="track-click"
                            data-accept-cookies="true" data-track-category="cookieBanner"
                            data-track-action="Cookie banner accepted"
                            href="{{url}}index&consent={{false}}&token={{token}}">{{ t('app:cookie-button-2') }}</a>
                    </div>
                    {% elif currentPage == 'complete' %}
                    <div>
                        <a id="show-accept" class="govuk-button" type="submit" data-module="track-click"
                            data-accept-cookies="true" data-track-category="cookieBanner"
                            data-track-action="Cookie banner accepted"
                            href="{{url}}index&consent={{true}}">{{ t('app:cookie-button-1') }}</a>

                        <a id="show-reject" class="govuk-button" type="submit" data-module="track-click"
                            data-accept-cookies="true" data-track-category="cookieBanner"
                            data-track-action="Cookie banner accepted"
                            href="{{url}}index&consent={{false}}">{{ t('app:cookie-button-2') }}</a>
                    </div>
                    {% else %}
                    <div>
                        <a id="show-accept" class="govuk-button" type="submit" data-module="track-click"
                            data-accept-cookies="true" data-track-category="cookieBanner"
                            data-track-action="Cookie banner accepted"
                            href="{{url}}{{currentPage}}&consent={{true}}">{{ t('app:cookie-button-1') }}</a>

                        <a id="show-reject" class="govuk-button" type="submit" data-module="track-click"
                            data-accept-cookies="true" data-track-category="cookieBanner"
                            data-track-action="Cookie banner accepted"
                            href="{{url}}{{currentPage}}&consent={{false}}">{{ t('app:cookie-button-2') }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}