{% set redBorder = "border-all-solid border-all-colour-gds-red border-all-5" %}

{# Server-side Rendered Errors #}
{% if errors or fileError %}
    <script>
    window.onload = function() {
        document.getElementById("error-summary").focus();
    };
    </script>

    <div class="{{redBorder}} margin-vertical-30 pad-vertical-15 pad-horizontal-15" role="alert" aria-atomic="true" aria-labelledby="formData" id="error-summary">

        {% if serviceFail %}
            <h2 class="bold" id="error-summary-heading">{{ t('errors:error-summary-service-fail') }}</h2>
        {% else %}
            <h2 class="bold" id="error-summary-heading">{{ t('errors:error-summary-h2') }}</h2>
            <p></p>
        {% endif %}

        {% if fileError %}
            {% if typeError %}
                <p>{{ t('errors:fileType') }}</p>
                <p>{{ t('errors:validFileType') }}</p>
            {% else %}
                {% if minSizeError %}
                    <p>{{ t(route + '-a-photo:tooSmall') }}</p>
                {% endif %}
                {% if maxSizeError %}
                    <p>{{ t(route + '-a-photo:tooBig') }}</p>
                {% endif %}
                <p>{{ t(route + '-a-photo:fileSize') }}</p>
            {% endif %}
        {% endif %}

            <ul class="error-summary-list">
                {% for error, value in errors %}
                <li id="error-field-list" class="ls-none">
                    <a href="#{{value.field}}" id="error-field-{{value.field}}" name="errorField-{{value.field}}" class="bold small gds-red">{{value.message}}</a>
                </li>
                {% endfor %}
            </ul>
    </div>
{% endif %}

{# JS errors #}
<div id="error-summary" role="alert" aria-atomic="true" aria-labelledby="formData" aria-hidden="true" class="{{redBorder}} margin-vertical-30 pad-vertical-15 pad-horizontal-15" ></div>
