<link rel="shortcut icon" href="{{ imagePath }}/favicon.ico?version={{assetsVersion}}" type="image/x-icon" />
<link rel="mask-icon" href="{{ imagePath }}/govuk-mask-icon.svg?version={{assetsVersion}}" color="#0b0c0c">

<!-- Size for iPhone -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ imagePath }}/govuk-apple-touch-icon-180x180.png?version={{assetsVersion}}">
<!-- Size for iPad Pro -->
<link rel="apple-touch-icon" sizes="167x167" href="{{ imagePath }}/govuk-apple-touch-icon-167x167.png?version={{assetsVersion}}">
<!-- Size for iPad, iPad mini -->
<link rel="apple-touch-icon" sizes="152x152" href="{{ imagePath }}/govuk-apple-touch-icon-152x152.png?version={{assetsVersion}}">
<!-- Default non-defined size -->
<link rel="apple-touch-icon" href="{{ imagePath }}/govuk-apple-touch-icon.png?version={{assetsVersion}}">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="og:image" content="{{ imagePath }}/opengraph-image.png?version={{assetsVersion}}">
<meta name="format-detection" content="telephone=no">