<link rel="shortcut icon" href="{{ imagePath }}/favicon.ico?version={{assetsVersion}}" type="image/x-icon" />
<link rel="mask-icon" href="{{ imagePath }}/gov.uk_logotype_crown.svg?version={{assetsVersion}}" color="#0b0c0c">

<!-- Size for iPad and iPad mini (high resolution) -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ imagePath }}/apple-touch-icon-152x152.png?version={{assetsVersion}}">
<!-- Size for iPhone and iPod touch (high resolution) -->
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ imagePath }}/apple-touch-icon-120x120.png?version={{assetsVersion}}">
<!-- Size for iPad 2 and iPad mini (standard resolution) -->
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ imagePath }}/apple-touch-icon-76x76.png?version={{assetsVersion}}">
<!-- Default non-defined size, also used for Android 2.1+ devices -->
<link rel="apple-touch-icon-precomposed" href="{{ imagePath }}/apple-touch-icon-60x60.png?version={{assetsVersion}}">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="og:image" content="{{ imagePath }}/opengraph-image.png?version={{assetsVersion}}">
<meta name="format-detection" content="telephone=no">
