{% import "macros/phase.html" as phase %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        {{ phase.currentPhase(phase="BETA") }}
      <span class="govuk-phase-banner__text">
        {{ t('app:phase-banner-text-1') }} <a class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=DpxP-knna0i8NIr6EGM3VsmUfSVlj39Dm5IoDLk2jmRUMThGTFhLMURFTkRISFdKMTA0U1dWUTg3NiQlQCN0PWcu" target="_blank" >{{ t('app:feedback') }}</a> {{ t('app:phase-banner-text-2') }}
      </span>
    </p>
</div>