.tmp/
.sass-cache/
.DS_Store
node_modules
testing/linting/sass-lint.html
testing/shots/*
testing/accessibility/*
public/
fitnote.sublime-project
fitnote.sublime-workspace
coverage
*.tar.gz
npm-debug.log
logs/
testing/db.json
dev.json
test.json
*.pem
*.p12
*shrinkwrap.json
Dockerfile
Jenkinsfile
CHANGELOG.md
gitlab-ci/
.gitlab-ci.yml
