// :invalid {
//     box-shadow: none; /* FF */
//     outline: 0;       IE 10
//     border: 4px solid  brand(gds-red);
// }

.form-group.error{
    border-left:5px solid brand(gds-red);
    padding-left: 15px;
}

.form-control.error{
    border:5px solid brand(gds-red);
}
