#global-cookie-message {
    margin-bottom: 0;
}

.cookie-banner--accept,
.cookie-banner--reject {
  margin-bottom: 0;
}

.casa-hidden {
  display: none;
}

.casa-cookie-banner form {
  display: inline;
}

.cookie-banner--reject:focus,
.cookie-banner--accept:focus {
  outline: none;
}

.cookie-banner--reject p,
.cookie-banner--accept p,
.cookie-banner--hide {
  display: inline-block;
}

.cookie-banner--hide {
  float: none;
}

@media (min-width: 840px) {
  .cookie-banner--hide {
    float: right;
    margin-right: govuk-spacing(6);
    width: auto;
  }
}