@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

html {
    font-size: 62.5%;
}

// Global print stylesheet
// reset everything
* {
    -ms-filter: none;
    background: transparent;
    filter: none;
    color: #000000;
    text-shadow: none;
}

body {
    font-family: sans-serif;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.42857;
    text-transform: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (max-width: 640px) {
    body {
        font-size: 12px;
        line-height: 1.25;
    }
}

a, a:visited {
    word-wrap: break-word;
}

a[href^="/"]:after {
    content: ' (https://www.gov.uk' attr(href) ')';
    font-size: 90%;
}

a[href^='http://']:after,
a[href^='https://']:after {
    content: ' (' attr(href) ')';
    font-size: 90%;
}

a[href^='javascript:']:after,
a[href^='#']:after {
    content: '';
}

img {
    max-width: 100% !important;
}

select {
    background: white;
}

header {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1em;
}

header .logo {
    font-family: sans-serif;
    font-size: 18pt;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-size: 28pt;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@media (max-width: 640px) {
    header .logo {
        font-size: 32px;
        line-height: 1.09375;
    }
}

header .logo img {
    display: block;
    float: left;
    padding-right: 6px;
    width: 46px;
    height: 40px;

}

header .content {
    margin: 0 !important;
}

header a, header a:visited {
    text-decoration: none;
}

header a:after {
    content: '';
}

header img {
    border: 0;
    vertical-align: middle;
}

// hide the unnecessary page elements
body footer,
.visuallyhidden,
.global-cookie-message,
#skiplink-container {
    display: none !important;
}
