#timeout {
  margin-top:10%;
}
#timeout, #timeout-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#timeout-bg {
  background: #000;
  opacity: 0.8;
}
#timeout-panel {
  position: relative;
  z-index: 999;
  background: #fff;
  max-width: 500px;
  margin: auto 15px;
  padding: 45px;
  overflow: auto;

  @media (min-width: 530px) {
    margin: auto;
  }
}
.timeout-closed {
  display:none;
}