/* Global footer */
footer {
    // border-top: 1px solid brand(footer-border);
    border-top: 10px solid brand(govuk-blue);
    background-color: brand(gds-grey-3);
}

.footer-wrapper {
    margin:auto;
    padding: 20px 15px 0 15px;
    max-width: 960px;
    background-color: brand(gds-grey-3);
}

.footer-meta {
    padding-bottom: 30px;
    clear: both;
    color: #454a4c;
}

.footer-meta-inner {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
}

.footer-meta-inner ul{
    margin: 0 0 1em 0;
    padding: 0;
}

.footer-meta-inner li {
    display: inline-block;
    margin: 0 15px 0 0;
    list-style: none;
 }

.open-government-licence {
    position: relative;
    padding-left: 53px;
    clear: left;
}

.open-government-licence p {
    display: inline-block;
    margin: 0;
    padding-top: 0.1em;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 400;
    text-transform: none;
}

.open-government-licence .logo {
   position: absolute;
    left: 0;
    top: 0;
    width: 41px;
    height: 100%;
}

.open-government-licence .logo a {
    display: block;
    width: 41px;
    height: 17px;
    overflow: hidden;
    text-indent: -999em;
    background: url("#{$img-path}/open-government-licence_2x.png") 0 0 no-repeat;
    background-size: 41px 17px;
}

.copyright {
    display: inline-block;
    margin: 30px auto 0 auto;
    width: 100%;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 400;
    text-transform: none;
}

.copyright a {
    display: block;
    margin: auto;
    padding: 115px 0 0 0;
    width: 125px;
    background: url("#{$img-path}/govuk-crest-2x.png") no-repeat;
    background-size: 125px 102px;
    background-position: 100% 0%; text-align: center; text-decoration: none;
}

// Footer and Cookie wrappers
.global-cookie-message p {
    margin: auto;
    max-width: 960px;
}

@media (min-width: 641px) {
  .footer-meta-inner{
        width: 74%;
    }

    .copyright {
        width:25%;
        margin-top:0;
        text-align: right;
        font-size: 15px;
        line-height: 1.25;
    }

    .open-government-licence p {
        font-size: 15px;
        line-height: 1.25;
    }
}
