header{
    background-color: brand(gds-black);
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-wrapper {
    margin: 0 auto;
    padding: 0 15px 0 15px;
    max-width: 960px;
}

a.header-logo:link,
a.header-logo:visited {
    color: brand(gds-white);
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
}

a.header-logo:hover,
a.header-logo:focus { text-decoration: none; border-bottom-color: brand(gds-white); }
.service-name               { float: left; clear: left;  }

.crown {
    margin-right: -40px;
}

@media (min-width: 641px) {
    .header-wrapper {
        margin: 0 30px 0 30px;
        padding: 0;
    }

    .service-name { clear: none; margin-top: 4px; }
}

@media (min-width: 1020px) {
    .header-wrapper { margin: 0 auto; }
}
