.oflow-auto { overflow: auto; }
.oflow-hidden { overflow: hidden; }
.oflow-visible { overflow:visible;  }
.oflow-scroll {  overflow: scroll; }
.oflow-inherit {  overflow: inherit; }
.oflow-initial {  overflow: initial; }
.oflow-unset {  overflow: unset; }

.oflow-x-hidden { overflow-x: hidden; }
.oflow-y-hidden { overflow-y: hidden; }
