/*
Spacing
http://govuk-elements.herokuapp.com/layout/#layout-spacing

Spacing between elements is usually 5px, 10px, 15px or multiples of 15px

*/
.pad-0  { padding: 0; }
.pad-vertical-15     { padding-top: 15px;  padding-bottom: 15px; }
.pad-horizontal-10     { padding-left: 10px;  padding-right: 10px; }
.pad-horizontal-15     { padding-left: 15px;  padding-right: 15px; }
.pad-right-15 { padding-right:15px; }
.pad-right-10 { padding-right: 10px;}
.pad-left-40 { padding-left: 40px;}
