.phase-banner {
    padding: 10px 0 8px;
    border-bottom: 1px solid #bfc1c3; }
@media (min-width: 641px) {
    .phase-banner {
        padding-bottom: 10px; } }
.phase-banner p {
    display: table;
    margin: 0;
    color: #000;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286; }
@media (min-width: 641px) {
    .phase-banner p {
        font-size: 16px;
        line-height: 1.25; } }
.phase-banner .phase-tag {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #005ea5; }
@media (min-width: 641px) {
    .phase-banner .phase-tag {
        font-size: 16px;
        line-height: 1.25; } }
.phase-banner span {
    display: table-cell;
    vertical-align: baseline; }

.phase-banner-alpha,
.phase-banner-beta {
    padding: 10px 0 8px;
    border-bottom: 1px solid #bfc1c3; }
@media (min-width: 641px) {
    .phase-banner-alpha,
    .phase-banner-beta {
        padding-bottom: 10px; } }
.phase-banner-alpha p,
.phase-banner-beta p {
    display: table;
    margin: 0;
    color: #000;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286; }
@media (min-width: 641px) {
    .phase-banner-alpha p,
    .phase-banner-beta p {
        font-size: 16px;
        line-height: 1.25; } }
.phase-banner-alpha .phase-tag,
.phase-banner-beta .phase-tag {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #005ea5; }
@media (min-width: 641px) {
    .phase-banner-alpha .phase-tag,
    .phase-banner-beta .phase-tag {
        font-size: 16px;
        line-height: 1.25; } }
.phase-banner-alpha span,
.phase-banner-beta span {
    display: table-cell;
    vertical-align: baseline; }

.phase-tag {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #005ea5; }
@media (min-width: 641px) {
    .phase-tag {
        font-size: 16px;
        line-height: 1.25; } }

.blue-border-bottom {
    border-bottom: none;
    margin-bottom: 25px;
     border-bottom: 10px solid brand(govuk-blue);
}

.beta-badge {
    float: left;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #f47738;
    background: #005ea5;
    margin: 40px 0 0 -34px;
}

@media (min-width: 641px) {
    .beta-badge {
        vertical-align: baseline;
        font-size: 16px;
        line-height: 1.25;
        margin: 7px 0 0 0;
    }
}
