table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table th,
table td{
    text-transform: none;
    padding: 0.6315789474em 1.0526315789em 0.4736842105em 0;
    text-align: left;
    color: #0b0c0c;
    border-bottom: 1px solid #bfc1c3;
}
