.table-l-auto { table-layout: auto; }
.table-l-fixed { table-layout: fixed; }
.table-l-inherit  { table-layout: inherit; }
.table-l-initial   { table-layout: initial; }
.table-l-unset   { table-layout: unset; }
