{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-error-404') }}{% endblock %}

{% block body %}
<div class="grid-row govuk-body">
    <div class="column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('404:h1') }}</h1>
      <p class="govuk-body">
        {{ t('404:p1') }}
      </p>
      <p class="govuk-body">
        {{ t('404:p2') }}
      </p>
      <p class="govuk-body">
        {{ t('404:p3') }} <a href="/" class="govuk-link">{{ t('404:link') }}</a>
      </p>
    </div>
    {% include "includes/sidebar.html" %}
</div>
{% endblock %}

{% block body_end %}
{{super()}}
<script>
    var lang = '{{ lang }}';
    var expires = '{{ exp }}';
</script>
{% endblock %}
