.border-all-5            { border-width: 5px; }
.border-top-10       { border-top-width: 10px; } // for blue project bar colour
.border-left-5       { border-left-width: 5px; } // for form left border
.border-bottom-1   { border-bottom-width: 1px;  }
