.border-all-colour-gds-red               { border-color: brand(gds-red); }
.border-top-colour-govuk-blue       { border-top-color: brand(govuk-blue); }
.border-bottom-colour-grey-2         { border-bottom-color: brand(gds-grey-2); }
.govuk-related-items {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}