.ttcapitals             { text-transform: capitalize; }
.ttlowercase         { text-transform: lowercase; }
.ttnone                   { text-transform: none; }
.ttuppercase        { text-transform: uppercase; }
