// .ws-norm          { white-space: normal; }
// .ws-nowrap     { white-space: nowrap; }
// .ws-pre             { white-space: pre; }
// .we-pre-line    { white-space: pre-line;}
// .ws-pre-wrap    { white-space: pre-wrap; }
