/* Keyword values */
.w-wrap-normal  { word-wrap: normal; }
.w-wrap-break    { word-wrap: break-word; }
.w-wrap-inherit   { word-wrap: inherit; }
.w-wrap-initial    { word-wrap: initial; }
.w-wrap-unset    { word-wrap: unset; }
