{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-08') }}{% endblock %}

{% block back_link %}
{% if previousPageCYA %}
<a href="/check-your-answers" class="govuk-back-link">{{ t('device:back') }}</a>
{% else %}
<a href="/nino" class="govuk-back-link">{{ t('device:back') }}</a>
{% endif %}
{% endblock %}

{% block body %}
<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
        {% include "includes/govuk-error-summary.html" %}
        <form action="/send-address" method="post" class="form" name="amendAddress" id="formData"
              data-form="updateAddress" autocomplete="off">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-heading-l">{{ t('address:h1') }}</h1>
                </legend>

                <div id="govuk-form-group-error-house" class="govuk-form-group">
                    <label for="houseNumberID" class="govuk-label">{{ t('address:house-number') }}</label>
                    <p class="govuk-error-message" aria-hidden="true" id="error-message-houseNumberID"></p>
                    <input type="text" name="houseNumberField" id="houseNumberID"
                           class="govuk-input govuk-!-width-two-thirds {{error.houseNumberCompleted}}" value="{{ house }}"
                           data-required="required" maxlength="35" aria-describedby="error-message-houseNumberID">
                </div>

                <div id="govuk-form-group-error-postcode" class="govuk-form-group">
                    <label for="postcodeID" class="govuk-label">{{ t('address:postcode') }}</label>
                    <p class="govuk-error-message" aria-hidden="true" id="error-message-postcodeID"></p>
                    <input type="text" name="postcodeField" id="postcodeID"
                           class="govuk-input govuk-input--width-10 {{error.postcodeCompleted}}" value="{{ postcode }}"
                           data-required="required" maxlength="8" aria-describedby="error-message-postcodeID">
                </div>

                <div class="govuk-form-group" aria-hidden="true">
                    <label for="countyID" aria-hidden="true">Leave blank</label>
                    <input type="text" name="countyField" id="countyID" aria-hidden="true" value="">
                    <label for="previousPageId" aria-hidden="true">Leave blank</label>
                    <input type="text" name="previousPage" id="previousPageId" class="js-hidden" aria-hidden="true"
                           value="{{ previousPageCYA }}">
                </div>
            </fieldset>

            <div class="govuk-form-group">
                <input type="submit" id="amendAddressButton" class="govuk-button" value="{{ t('app:continue') }}">
            </div>
        </form>
    </div>
    {% include "includes/sidebar.html" %}
</div>
{% endblock %}

{% block body_end %}
{{super()}}
<script>
    var lang = '{{ lang }}';
    var expires = '{{ exp }}';
    var errorDictionary = {{ validationErrors | safe }};
    var errorPageTitle;
    if (lang === 'en') {
        errorPageTitle = 'Error: ' + "{{ t('app:page-title-08') }}";
    } else {
        errorPageTitle = 'Gwall: ' + "{{ t('app:page-title-08') }}";
    }
</script>
<script src="/javascript/validate-address.js?version={{assetsVersion}}"></script>

{% endblock %}
