{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-11') }}{% endblock %}

{% block body %}
    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-bottom-6"></div>
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    {{ t('complete:h1') }}
                </h1>
                <div class="govuk-panel__body">
                    {{ t('complete:reference') }}
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body">
      <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">{{ t('complete:h2') }}</h2>
            <p>{{ t('complete:p1') }}</p>
            <p>{{ t('complete:p2') }}</p>
            <p>{{ t('complete:p3') }}</p>
            <p>{{ t('complete:p4') }}</p>
            <p><a href="https://forms.office.com/pages/responsepage.aspx?id=DpxP-knna0i8NIr6EGM3VsmUfSVlj39Dm5IoDLk2jmRUMThGTFhLMURFTkRISFdKMTA0U1dWUTg3NiQlQCN0PWcu" class="govuk-link" target="_blank">{{ t('complete:feedback') }}</a>{{ t('complete:feedback-text') }}</p>
            <p><a href="{{ t('complete:govukUrl') }}" class="govuk-link">{{ t('complete:a') }}</a></p>
        </div>
    </div>
{% endblock %}

{% block body_end %}
{{super()}}
<script>
    var lang = '{{ lang }}';
    var expires = '{{ exp }}';
</script>

{% endblock %}
