{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:service-name') }}{% endblock %}

{% block body %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">{{ t('cookies-table:h1') }}</h1>
    </div>
</div>

<div class="full-width">
    <article>
        <h3 class="govuk-heading-m">{{ t('cookies-table:h3-service') }}</h3>

        <table class="cookiesTable">
            <thead class="govuk-list--bullet">
                <tr>
                    <th style="width:20%">{{ t('cookies-table:th1') }}</th>
                    <th style="width:60%">{{ t('cookies-table:th2') }}</th>
                    <th style="width:20%">{{ t('cookies-table:th3') }}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ t('cookies-table:td1') }}</td>
                    <td>{{ t('cookies-table:td2') }}</td>
                    <td>{{ t('cookies-table:td3') }}</td>
                </tr>
                  <tr>
                    <td>{{ t('cookies-table:td4') }}</td>
                    <td>{{ t('cookies-table:td5') }}</td>
                    <td>{{ t('cookies-table:td6') }}</td>
                </tr>
            </tbody>
        </table>

        <p style="margin-top: 10px;"><a href="/cookies">{{ t('cookies-table:a') }}</a></p>
    </article>
</div>

{% endblock %}
