{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:service-name') }}{% endblock %}

{% block googleTags %}
<script>
    ga('send', 'pageview');
</script>
{% endblock %}

{% block body %}

<div class="grid-row">
<div class="column-two-thirds">
    <h1 class="heading-medium">{{ t('cookies:h1') }}</h1>

    <p>{{ t('cookies:p1') }}</p>
    <p>{{ t('cookies:p2') }}</p>

    <ul class="list-bullet">
        <li>{{ t('cookies:li1') }}</li>
        <li>{{ t('cookies:li2') }}</li>
        <li>{{ t('cookies:li3') }}</li>
    </ul>

    <p>{{ t('cookies:p3') }}</p>

    <h2 class="heading-medium">{{ t('cookies:h2-switched-off') }}</h2>

    <p>{{ t('cookies:p4') }}</p>
    <p>
        {{ t('cookies:p5') }}
        <a target="blank" rel="external noopener noreferrer" href="https://whatbrowser.org/">{{ t('cookies:a1') }}</a>
        {{ t('cookies:p6') }}
    </p>
    <p>{{ t('cookies:p7') }}</p>

    <ul class="list-bullet">
        <li><a target="blank" rel="external noopener noreferrer" href="https://support.microsoft.com/en-gb/products/windows?os=windows-10">{{ t('cookies:a2') }}</a></li>
        <li><a target="blank" rel="external noopener noreferrer" href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer">{{ t('cookies:a3') }}</a></li>
        <li><a target="blank" rel="external noopener noreferrer" href="https://support.google.com/accounts/answer/61416?hl=en">{{ t('cookies:a4') }}</a></li>
        <li><a target="blank" rel="external noopener noreferrer" href="https://support.apple.com/kb/PH19214?locale=en_GB">{{ t('cookies:a5') }}</a>, {{ t('cookies:p8') }}</li>
    </ul>

    <p>
        {{ t('cookies:p9') }}
        <a target="blank" rel="external noopener noreferrer" href="http://www.aboutcookies.org/">{{ t('cookies:a6') }}</a>
        {{ t('cookies:p10') }}
    </p>

    <h2 class="heading-medium">{{ t('cookies:h2-cookies-used') }}</h2>

    <h3>{{ t('cookies:h3-ga') }}</h3>

    <p>{{ t('cookies:p11') }}</p>
    <p>{{ t('cookies:p12') }}</p>

    <ul class="list-bullet">
        <li>{{ t('cookies:li4') }}</li>
        <li>{{ t('cookies:li5') }}</li>
        <li>{{ t('cookies:li6') }}</li>
    </ul>

    <p>
        {{ t('cookies:p13') }}
        <a rel="external noopener noreferrer" target="blank" href="https://tools.google.com/dlpage/gaoptout">{{ t('cookies:a7') }}</a>.
    </p>

    <h3>{{ t('cookies:h3-session') }}</h3>

    <p>{{ t('cookies:p14') }}</p>
    <p>{{ t('cookies:p15') }}</p>

    <ul class="list-bullet">
        <li>{{ t('cookies:li7') }}</li>
        <li>{{ t('cookies:li8') }}</li>
        <li>{{ t('cookies:li9') }}</li>
    </ul>

    <h3>{{ t('cookies:h3-intro-message') }}</h3>

    <p>{{ t('cookies:p16') }}</p>
    <p>{{ t('cookies:p17') }}</p>

    <p><a href="/cookies-table">{{ t('cookies:a8') }}</a></p>
</div>
</div>

{% endblock %}
