{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:service-name') }}{% endblock %}

{% block googleTags %}
<script>
    ga('send', 'pageview');
</script>
{% endblock %}

{% block body %}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-medium">{{ t('cookies-table:h1') }}</h1>
    </div>
</div>

<div class="full-width">
    <article>
        <h3 class="heading-medium">{{ t('cookies-table:h3-service') }}</h3>

        <table class="cookiesTable">
            <thead class="list-bullet">
                <tr>
                    <th style="width:20%">{{ t('cookies-table:th1') }}</th>
                    <th style="width:60%">{{ t('cookies-table:th2') }}</th>
                    <th style="width:20%">{{ t('cookies-table:th3') }}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ t('cookies-table:td1') }}</td>
                    <td>{{ t('cookies-table:td2') }}</td>
                    <td>{{ t('cookies-table:td3') }}</td>
                </tr>
                  <tr>
                    <td>{{ t('cookies-table:td4') }}</td>
                    <td>{{ t('cookies-table:td5') }}</td>
                    <td>{{ t('cookies-table:td6') }}</td>
                </tr>
            </tbody>
        </table>

         <h3 class="heading-medium margin-top-30">{{ t('cookies-table:h3-ga') }}</h3>

        <table class="cookiesTable">
            <thead id="gaTitle" class="list-bullet">
                <tr>
                    <th style="width:20%;padding-right: 66px">{{ t('cookies-table:th1') }}</th>
                    <th style="width:60%">{{ t('cookies-table:th2') }}</th>
                    <th style="width:20%">{{ t('cookies-table:th3') }}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ t('cookies-table:td7') }}</td>
                    <td>{{ t('cookies-table:td8') }}</td>
                    <td>{{ t('cookies-table:td9') }}</td>
                </tr>

                <tr>
                    <td>{{ t('cookies-table:td10') }}</td>
                    <td>{{ t('cookies-table:td11') }}</td>
                    <td>{{ t('cookies-table:td12') }}</td>
                </tr>
            </tbody>
        </table>

        <p style="margin-top: 10px;"><a href="/cookies">{{ t('cookies-table:a') }}</a></p>
    </article>
</div>

{% endblock %}
