{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:service-name') }}{% endblock %}

{% block body %}
    {% include "includes/error-summary.html" %}
    <div class="grid-row govuk-body">
        <div class="column-two-thirds">
            <form action="/device" method="post" class="form" name="deviceForm" id="formData" data-form="device" autocomplete="off" onsubmit="return submitForm();">
                <div class="form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading govuk-heading-l">
                                {{ t('device:legend') }}
                            </h1>
                            <p class="govuk-heading-s gds-red govuk-!-font-weight-bold display-b" aria-hidden="true" id="error-message-radioPhone">{{ t('errors:device.missing') }}</p>
                        </legend>
                        <div class="govuk-radios {{ ' error' if errors }}">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radioPhone" name="device" type="radio" value="phone">
                                <label class="govuk-label govuk-radios__label" id="phoneLabel" for="radioPhone">
                                {{ t('device:phone') }}
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radioDesktop" name="device" type="radio" value="desktop">
                                <label class="govuk-label govuk-radios__label" id="desktopLabel" for="radioDesktop">
                                {{ t('device:desktop') }}
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <input type="submit" class="govuk-button" value="{{ t('device:button') }}">
                </div>
            </form>
        </div>
        {% include "includes/sidebar.html" %}
    </div>
{% endblock %}

{% block body_end %}
{{super()}}
    <script> var errorDictionary = {{ validationErrors | safe }}</script>
    <script src="/javascript/validate-device.js?version={{assetsVersion}}" defer>
    </script>
    <script>
        var lang = '{{ lang }}';
        var expires = '{{ exp }}';
    </script>

{% endblock %}
