{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-01') }}{% endblock %}

{% block body %}
<div class="grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
        <form action="/esa" method="post" class="form" name="esaForm" id="formData" data-form="esa"
            autocomplete="off">
          {% include "includes/govuk-error-summary.html" %}
            <div id="govuk-form-group-error" class="govuk-form-group">
                <fieldset class="govuk-fieldset"
                          aria-describedby="error-message-radioEsa">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            {{ t('esa:h1') }}
                        </h1>
                    </legend>
                  <p id="error-message-radioEsa"
                        class="govuk-error-message" aria-hidden="true"></p>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radioEsaYes" name="esa" type="radio"
                                value="Yes" {% if previousPageCYA == 1 %}
                                   checked="checked" {% endif %} aria-describedby="error-message-radioEsa">
                            <label class="govuk-label govuk-radios__label{{ ' selected' if previousPageCYA == 1 }}" id="radioEsaYesLabel"
                                for="radioEsaYes">
                                {{ t('esa:radio-yes') }}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radioEsaNo" name="esa" type="radio"
                                value="No" {% if previousPageCYA == -1 %}
                                   checked="checked" {% endif %} aria-describedby="error-message-radioEsa">
                            <label class="govuk-label govuk-radios__label{{ ' selected' if previousPageCYA == -1 }}" id="radioEsaNoLabel"
                                for="radioEsaNo">
                                {{ t('esa:radio-no') }}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <input type="submit" class="govuk-button" value="{{ t('app:continue') }}">
            </div>
        </form>
    </div>
    {% include "includes/sidebar.html" %}
</div>
{% endblock %}

{% block body_end %}
{{super()}}
<script>
    var lang = '{{ lang }}';
    var expires = '{{ exp }}';
    var errorDictionary = {{ validationErrors | safe }};
    var errorPageTitle;
    if (lang === 'en') {
        errorPageTitle = 'Error: ' + "{{ t('app:page-title-01') }}";
    } else {
        errorPageTitle = 'Gwall: ' + "{{ t('app:page-title-01') }}";
    }
</script>
<script src="/javascript/validate-esa.js?version={{assetsVersion}}" defer></script>


{% endblock %}
