{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-12') }}{% endblock %}

{% block body %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds govuk-body">
    {% include "includes/govuk-error-summary.html" %}
    <h1 class="govuk-heading-l">{{ t('feedback:h1') }}</h1>
    <form id="formData" action="/feedback" method="post" class="form" autocomplete="off" onsubmit="return submitForm();">
        <div id="govuk-form-group-error-rating" class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-m govuk-!-font-weight-bold">{{ t('feedback:rating') }}</h2>
                    <span class="govuk-error-message" aria-hidden="true" id="error-message-ratingID">
                        <span class="govuk-visually-hidden">Error:</span> {{ t('errors:feedback.required') }}
                    </span>
                </legend>
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input id="vSatisfied" type="radio" name="rating" value="Very satisfied" class="govuk-radios__input">
                        <label class="govuk-label govuk-radios__label" for="vSatisfied">
                            {{ t('feedback:very-satisfied') }}
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input id="satisfied" type="radio" name="rating" value="Satisfied" class="govuk-radios__input">
                        <label class="govuk-label govuk-radios__label" for="satisfied">
                            {{ t('feedback:satisfied') }}
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input id="neither" type="radio" name="rating" value="Neither satisfied or dissatisfied" class="govuk-radios__input">
                        <label class="govuk-label govuk-radios__label" for="neither">
                            {{ t('feedback:neither') }}
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input id="dissatisfied" type="radio" name="rating" value="Dissatisfied" class="govuk-radios__input">
                        <label class="govuk-label govuk-radios__label" for="dissatisfied">
                            {{ t('feedback:dissatisfied') }}
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input id="vDissatisfied" type="radio" name="rating" value="Very dissatisfied" class="govuk-radios__input">
                        <label class="govuk-label govuk-radios__label" for="vDissatisfied">
                            {{ t('feedback:very-dissatisfied') }}
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div id="govuk-form-group-error-improvements" class="govuk-form-group">
            <label for="improvementsID">
                <h2 class="govuk-heading-m govuk-!-font-weight-bold">{{ t('feedback:improvements') }}</h2>
                <span class="govuk-error-message" aria-hidden="true" id="error-message-improvementsID">
                    <span class="govuk-visually-hidden">Error:</span> {{ t('errors:feedback.maxlength') }}
                </span>
            </label>
            <textarea type="text" name="improvements" id="improvementsID" class="govuk-textarea" rows="5"></textarea>
        </div>

        <p>{{ t('feedback:limit') }}</p>
        <p>{{ t('feedback:info') }}</p>

        <h2 class="govuk-heading-m govuk-!-font-weight-bold">{{ t('feedback:helpMore') }}</h2>
        <p>{{ t('feedback:helpMoreText') }}</p>
        <div id="govuk-form-group-error" class="govuk-form-group" aria-label="{{ t('feedback:helpMoreAria') }}">
            <div class="govuk-form-group">
                <label class="govuk-label" for="nameID">
                    <span>{{ t('feedback:yourName') }}</span>
                    <span class="govuk-error-message" aria-hidden="true" id="error-message-nameID">
                    <span class="govuk-visually-hidden">Error:</span> {{ t('errors:feedback.name') }}
                </span>
                </label>
                <input type="text" name="name" id="nameID" class="govuk-input"
                       aria-label="{{ t('feedback:yourname-aria-label') }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="phoneID">
                    <span>{{ t('feedback:phone') }}</span>
                    <span class="govuk-error-message" aria-hidden="true" id="error-message-phoneID">
                    <span class="govuk-visually-hidden">Error:</span> {{ t('errors:feedback.phone') }}
                </span>
                </label>
                <input type="text" name="phone" id="phoneID" class="govuk-input"
                       aria-label="{{ t('feedback:phone-aria-label') }}">
            </div>
        </div>
        <div class="form-group">
            <input id="submit-feedback" type="submit" class="govuk-button" value="{{ t('feedback:button') }}">
        </div>
    </form>
</div>
{% include "includes/sidebar.html" %}
</div>
{% endblock %}

{% block body_end %}
{{super()}}
    <script> var errorDictionary = {{ validationErrors | safe }}</script>
    <script src="/javascript/validate-feedback.js?version={{assetsVersion}}" defer></script>
    <script>
        var lang = '{{ lang }}';
        var expires = '{{ exp }}';
    </script>
{% endblock %}
