{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-12') }}{% endblock %}

{% block body %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
        {% include "includes/govuk-error-summary.html" %}
        <h1 class="govuk-heading-l">{{ t('feedback:h1') }}</h1>
        <form id="formData" action="/feedback" method="post" class="form" autocomplete="off"
            onsubmit="return submitForm();">
            <div id="govuk-form-group-error-rating" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend
                    class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-6">
                    {{ t('feedback:rating') }}
                  </legend>
                  <span class="govuk-error-message" aria-hidden="true" id="error-message-ratingID"></span>
                  <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="vSatisfied" type="radio" name="rating" value="Very satisfied"
                                class="govuk-radios__input" aria-describedby="error-message-ratingID">
                            <label class="govuk-label govuk-radios__label" for="vSatisfied">
                                {{ t('feedback:very-satisfied') }}
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input id="satisfied" type="radio" name="rating" value="Satisfied"
                                class="govuk-radios__input" aria-describedby="error-message-ratingID">
                            <label class="govuk-label govuk-radios__label" for="satisfied">
                                {{ t('feedback:satisfied') }}
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input id="neither" type="radio" name="rating" value="Neither satisfied or dissatisfied"
                                class="govuk-radios__input" aria-describedby="error-message-ratingID">
                            <label class="govuk-label govuk-radios__label" for="neither">
                                {{ t('feedback:neither') }}
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input id="dissatisfied" type="radio" name="rating" value="Dissatisfied"
                                class="govuk-radios__input" aria-describedby="error-message-ratingID">
                            <label class="govuk-label govuk-radios__label" for="dissatisfied">
                                {{ t('feedback:dissatisfied') }}
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input id="vDissatisfied" type="radio" name="rating" value="Very dissatisfied"
                                class="govuk-radios__input" aria-describedby="error-message-ratingID">
                            <label class="govuk-label govuk-radios__label" for="vDissatisfied">
                                {{ t('feedback:very-dissatisfied') }}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="govuk-form-group-error-improvements" class="govuk-form-group">
              <label for="improvementsID" class="govuk-label govuk-label--m govuk-!-margin-bottom-4">
                {{ t('feedback:improvements') }}
              </label>
              <span class="govuk-error-message" aria-hidden="true" id="error-message-improvementsID"></span>
              <textarea type="text" name="improvements" id="improvementsID" class="govuk-textarea" rows="5"
                    aria-describedby="error-message-improvementsID"></textarea>
            </div>

            <p>{{ t('feedback:limit') }}</p>
            <p>{{ t('feedback:info') }}</p>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-2">
                        {{ t('feedback:helpMore') }}
                </legend>
                <p>{{ t('feedback:helpMoreText') }}</p>
                <div id="govuk-form-group-error-name" class="govuk-form-group">
                    <label class="govuk-label" for="nameID">
                        <span>{{ t('feedback:yourName') }}</span>
                        <span class="govuk-error-message" aria-hidden="true" id="error-message-nameID"></span>
                    </label>
                    <input type="text" name="name" id="nameID" class="govuk-input"
                        aria-describedby="error-message-nameID">
                </div>

                <div id="govuk-form-group-error-phone" class="govuk-form-group">
                    <label class="govuk-label" for="phoneID">
                        <span>{{ t('feedback:phone') }}</span>
                        <span class="govuk-error-message" aria-hidden="true" id="error-message-phoneID"></span>
                    </label>
                    <input type="text" name="phone" id="phoneID" class="govuk-input"
                        aria-describedby="error-message-phoneID">
                </div>
            </fieldset>
            <div class="form-group">
                <input id="submit-feedback" type="submit" class="govuk-button" value="{{ t('feedback:button') }}">
            </div>
        </form>
    </div>
    {% include "includes/sidebar.html" %}
</div>
{% endblock %}

{% block body_end %}
{{super()}}
<script>
    var lang = '{{ lang }}';
    var expires = '{{ exp }}';
    var errorDictionary = {{ validationErrors | safe }};
    var errorPageTitle;
    if (lang === 'en') {
        errorPageTitle = 'Error: ' + "{{ t('app:page-title-12') }}";
    } else {
        errorPageTitle = 'Gwall: ' + "{{ t('app:page-title-12') }}";
    }
</script>
<script src="/javascript/validate-feedback.js?version={{assetsVersion}}" defer></script>
{% endblock %}