{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-04') }}{% endblock %}

{% block back_link %}
<a href="/method-obtained?ref=guidance-paper" class="govuk-back-link">{{ t('guidance-paper:back') }}</a>
{% endblock %}

{% block body %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
        <form action="/guidance-paper" method="post" class="form" name="paperGuidanceForm" id="formData"
            data-form="guidance-paper" autocomplete="off">
            <h1 class="govuk-heading-l govuk-!-padding-bottom-2">{{ t('guidance-paper:h1') }}</h1>
            <p>{{ t('guidance-paper:info') }}<a class="govuk-link" href="/guidance-post" target="_blank">{{ t('guidance-paper:post-link') }}</a></p>

            <h2 class="govuk-heading-m govuk-!-padding-bottom-0">{{ t('guidance-paper:h2') }}</h2>
            <p>{{ t('guidance-paper:online-info') }}</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ t('guidance-paper:info-list.li1') }}</li>
                <li>{{ t('guidance-paper:info-list.li2') }}</li>
            </ul>
            <p>{{ t('guidance-paper:p1') }}</p>
            <img src="/images/fit-note-zoom.png" class="fit-note-zoom" alt="">
            <p>{{ t('guidance-paper:p2') }}</p>

            <h3 class="govuk-heading-s govuk-!-padding-bottom-2">{{ t('guidance-paper:h3') }}</h3>
            <ol class="govuk-list govuk-list--number govuk-!-padding-bottom-1">
                <li class="govuk-!-padding-bottom-3">{{ t('guidance-paper:list-take.li1') }}</li>
                <li class="govuk-!-padding-bottom-3">{{ t('guidance-paper:list-take.li2') }}</li>
                <li class="govuk-!-padding-bottom-3">{{ t('guidance-paper:list-take.li3') }}</li>
                <li>{{ t('guidance-paper:list-take.li4') }}</li>
            </ol>

            <h3 class="govuk-heading-s govuk-!-padding-bottom-2">{{ t('guidance-paper:h4') }}</h3>
            <ol class="govuk-list govuk-list--number govuk-!-padding-bottom-2">
                <li class="govuk-!-padding-bottom-3">{{ t('guidance-paper:list-scan.li1') }}</li>
                <li class="govuk-!-padding-bottom-3">{{ t('guidance-paper:list-scan.li2') }}</li>
                <li class="govuk-!-padding-bottom-3">{{ t('guidance-paper:list-scan.li3') }}</li>
                <li>{{ t('guidance-paper:list-scan.li4') }}</li>
            </ol>
            <p>{{ t('guidance-paper:p3') }}</p>

            <article class="moj-ticket-panel" aria-label="Sub navigation 1"></article>
                <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                  <p class="govuk-body">{{ t('guidance-paper:p4') }}</p>
                </section>
            </article>

            <label for="page" aria-hidden="true">Leave blank</label>
            <input type="text" name="page" id="page" class="js-hidden" aria-hidden="true" value="paper">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                {{ t('guidance-paper:buttonText') }}
            </button>
        </form>
    </div>
    {% include "includes/sidebar.html" %}
</div>


{% endblock %}

{% block body_end %}
{{super()}}
<script>
    var lang = '{{ lang }}';
    var expires = '{{ exp }}';
</script>
{% endblock %}
