{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-05') }}{% endblock %}

{% block back_link %}
<a href="/method-obtained?ref=guidance-digital" class="govuk-back-link">{{ t('guidance-digital:back') }}</a>
{% endblock %}

{% block body %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
        <form action="/guidance-digital" method="post" class="form" name="paperGuidanceForm" id="formData"
            data-form="guidance-digital" autocomplete="off">
            <h1 class="govuk-heading-l govuk-!-padding-bottom-2">{{ t('guidance-digital:h1') }}</h1>
            <p>{{ t('guidance-digital:p1') }}</p>
            <p>{{ t('guidance-digital:p2') }}</p>
            <p>{{ t('guidance-digital:p3') }}</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-2">
                <li>{{ t('guidance-digital:list.li1') }}</li>
                <li>{{ t('guidance-digital:list.li2') }}</li>
                <li> {{ t('guidance-digital:list.li3')|safe }}</li>
            </ul>
            <img src="/images/fit-note-zoom.png" class="fit-note-zoom" alt="">
            <p>{{ t('guidance-digital:p4') }}</p>
            <label for="page" aria-hidden="true">Leave blank</label>
            <input type="text" name="page" id="page" class="js-hidden" aria-hidden="true" value="digital">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                {{ t('guidance-digital:buttonText') }}
            </button>
        </form>
    </div>
    {% include "includes/sidebar.html" %}
</div>


{% endblock %}

{% block body_end %}
{{super()}}
<script>
    var lang = '{{ lang }}';
    var expires = '{{ exp }}';
</script>
{% endblock %}