{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-01') }}{% endblock %}

{% block body %}
<div class="grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
        <form action="/identify" method="post" class="form" name="identifyForm" id="formData" data-form="identify"
            autocomplete="off" onsubmit="return submitForm();">
          {% include "includes/govuk-error-summary.html" %}
            <div id="govuk-form-group-error" class="govuk-form-group">
                <fieldset class="govuk-fieldset"
                          aria-describedby="fit-note-hint error-message-radioIdentify">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            {{ t('identify:h1') }}
                        </h1>
                    </legend>
                    <div id="fit-note-hint" class="govuk-hint">
                        {{ t('identify:hint') }}
                    </div>
                  <span id="error-message-radioIdentify"
                        class="govuk-error-message" aria-hidden="true"></span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radioIdentifyYes" name="identify" type="radio"
                                value="Yes" {% if previousPageCYA == 1 %}
                                   checked="checked" {% endif %} aria-describedby="error-message-radioIdentify">
                            <label class="govuk-label govuk-radios__label{{ ' selected' if previousPageCYA == 1 }}" id="radioIdentifyYesLabel"
                                for="radioIdentifyYes">
                                {{ t('identify:radio-yes') }}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radioIdentifyNo" name="identify" type="radio"
                                value="No" {% if previousPageCYA == -1 %}
                                   checked="checked" {% endif %} aria-describedby="error-message-radioIdentify">
                            <label class="govuk-label govuk-radios__label{{ ' selected' if previousPageCYA == -1 }}" id="radioIdentifyNoLabel"
                                for="radioIdentifyNo">
                                {{ t('identify:radio-no') }}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <input type="submit" class="govuk-button" value="{{ t('device:button') }}">
            </div>
        </form>
    </div>
    {% include "includes/sidebar.html" %}
</div>
{% endblock %}

{% block body_end %}
{{super()}}
<script>
    var lang = '{{ lang }}';
    var expires = '{{ exp }}';
    var errorDictionary = {{ validationErrors | safe }};
    var errorPageTitle;
    if (lang === 'en') {
        errorPageTitle = 'Error: ' + "{{ t('app:page-title-01') }}";
    } else {
        errorPageTitle = 'Gwall: ' + "{{ t('app:page-title-01') }}";
    }
</script>
<script src="/javascript/validate-identify.js?version={{assetsVersion}}" defer></script>


{% endblock %}
