{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:service-name') }}{% endblock %}

{% block body %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-top-7">{{ t('index:h1') }}</h1>
            <p>{{ t('index:p') }}</p>
            <ul class="govuk-list">
                <li>{{ t('index:li1') }}</li>
                <li>{{ t('index:li2') }}</li>
                <li>{{ t('index:li3') }}</li>
            </ul>
            <form action="/index" method="post" id="formData" autocomplete="off">
                <input type="submit" class="govuk-button" value="{{ t('index:button') }}" id="startButton">
            </form>
            <div class="panel-border-wide">
                <span>{{ t('index:language') | safe }}</span>
            </div>
        </div>
        {% include "includes/sidebar.html" %}
    </div>

{% endblock %}
