{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-02') }}{% endblock %}

{% block back_link %}
<a href="/identify?ref=invalid" class="govuk-back-link">{{ t('device:back') }}</a>
{% endblock %}

{% block body %}
<div class="grid-row govuk-body">
    <div class="column-two-thirds">
        <h1 class="govuk-heading-l">
            {{ t('invalid:h1') }}
        </h1>
        <p class="govuk-body">
            {{ t('invalid:noFitNote.text1') }}
        </p>
        <p class="govuk-body">
            {{ t('invalid:noFitNote.text2') }}
        </p>
        <p class="govuk-body">
            {{ t('invalid:noFitNote.text3') }}
        </p>
        <img src="/images/example-medical-letters.png" class="medical-letters" alt="">
        <h2 class="govuk-heading-m">{{ t('invalid:medicalEvidence.h2')}}</h2>
        <p class="govuk-body">
            {{ t('invalid:medicalEvidence.text1')}}
        </p>
        <div class="govuk-inset-text">
            <ul class="govuk-list">
              <li>{{ t('invalid:medicalEvidence.postalAddress.text1')}}</li>
              <li>{{ t('invalid:medicalEvidence.postalAddress.text2')}}</li>
            </ul>
        </div>
        <p class="govuk-body">
            {{ t('invalid:medicalEvidence.text2')}}
        </p>
        <a href="/identify?ref=invalid" class="govuk-link">{{ t('invalid:link') }}</a>
    </div>
    {% include "includes/sidebar.html" %}
</div>

{% endblock %}
