{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-03') }}{% endblock %}
{% block back_link %}
<a href="/esa?ref=method-obtained" class="govuk-back-link">{{ t('method-obtained:back') }}</a>
{% endblock %}

{% block body %}
<div class="grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
        {% include "includes/govuk-error-summary.html" %}
        <form action="/method-obtained" method="post" class="form" name="methodObtainedForm" id="formData"
            data-form="method-obtained" autocomplete="off">
            <div id="govuk-form-group-error" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            {{ t('method-obtained:h1') }}
                        </h1>
                    </legend>
                  <p id="method-obtained-error" class="govuk-error-message" aria-hidden="true"></p>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="method-obtained-digital" name="methodObtained"
                                type="radio" value="digital" {% if
                                   previousPageCYA == 1 %} checked="checked" {% endif %} aria-describedby="method-obtained-error">
                            <label class="govuk-label govuk-radios__label{{ ' selected' if previousPageCYA == 1 }}" for="method-obtained-digital">
                                {{ t('method-obtained:radioLabels.digital') }}
                            </label>
                            <div class="govuk-hint govuk-radios__hint">
                                {{ t('method-obtained:hintTexts.digital') }}
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="method-obtained-paper" name="methodObtained"
                                type="radio" value="paper" {% if
                                   previousPageCYA == 2 %} checked="checked" {% endif %} aria-describedby="method-obtained-error">
                            <label class="govuk-label govuk-radios__label{{ ' selected' if previousPageCYA == 2 }}" for="method-obtained-paper">
                                {{ t('method-obtained:radioLabels.paper') }}
                            </label>
                            <div class="govuk-hint govuk-radios__hint">
                                {{ t('method-obtained:hintTexts.paper') }}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <input type="submit" class="govuk-button" value="{{ t('method-obtained:button') }}">
            </div>
        </form>
    </div>
    {% include "includes/sidebar.html" %}
</div>
{% endblock %}

{% block body_end %}
{{super()}}
<script> 
    var lang = '{{ lang }}';
    var expires = '{{ exp }}';
    var errorDictionary = {{ validationErrors | safe }}
    var errorPageTitle;
    if (lang === 'en') {
        errorPageTitle = 'Error: ' + "{{ t('app:page-title-03') }}";
    } else {
        errorPageTitle = 'Gwall: ' + "{{ t('app:page-title-03') }}";
    }
</script>
<script src="/javascript/validate-method-obtained.js?version={{assetsVersion}}" defer></script>
{% endblock %}
