{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-07') }}{% endblock %}

{% block back_link %}
{% if previousPageCYA %}
<a href="/check-your-answers" class="govuk-back-link">{{ t('app:back') }}</a>
{% else %}
<a href="/{{ route }}" class="govuk-back-link">{{ t('app:back') }}</a>
{% endif %}
{% endblock %}

{% block body %}
<div class="grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
        {% include "includes/govuk-error-summary.html" %}
        <form action="/send-nino" method="post" class="form" name="ninoForm" id="formData" data-form="nino"
            autocomplete="off">
            <div id="govuk-form-group-error" class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-heading-l" for="ninoFieldID">{{ t('nino:heading') }}</label>
                </h1>
                <div id ="national-insurance-number-hint" class="govuk-hint govuk-!-display-block">{{
                  t('nino:hint') }}</div>

              <p class="govuk-error-message" aria-hidden="true" id="error-message-ninoFieldID"></p>
              <input type="text" name="ninoField" id="ninoFieldID"
                     class="govuk-input govuk-!-width-one-half"
                     value="{{ nino }}" maxlength="13"
                     data-required="required"
                     aria-describedby="national-insurance-number-hint error-message-ninoFieldID">
              <label for="previousPageId" aria-hidden="true">Leave blank</label>
              <input type="text" name="previousPage" id="previousPageId" class="js-hidden" aria-hidden="true"
                     value="{{ previousPageCYA }}">
            </div>

            <div class="govuk-form-group" aria-hidden="true">
                <label for="emailID" aria-hidden="true">Leave blank</label>
                <input type="text" name="emailField" id="emailID" aria-hidden="true" value="">
            </div>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        {{ t('nino:details-link-text') }}
                       <span class="govuk-visually-hidden">{{ t('nino:details-link-hidden-text') }}</span>
                    </span>
                </summary>
                <div class="govuk-details__text">
                    {{ t('nino:details-summary-text') }}
                    <a class="govuk-link" href="https://www.gov.uk/lost-national-insurance-number"
                        target="_blank">{{ t('nino:nino-link-text') }}</a>
                </div>
            </details>

            <div class="govuk-form-group">
                <input type="submit" id="add-your-details" class="govuk-button" value="{{ t('app:continue') }}">
            </div>
        </form>
    </div>
    {% include "includes/sidebar.html" %}
</div>
{% endblock %}

{% block body_end %}
{{super()}}
<script>
    var lang = '{{ lang }}';
    var expires = '{{ exp }}';
    var errorDictionary = {{ validationErrors | safe }};
    var errorPageTitle;
    if (lang === 'en') {
        errorPageTitle = 'Error: ' + "{{ t('app:page-title-07') }}";
    } else {
        errorPageTitle = 'Gwall: ' + "{{ t('app:page-title-07') }}";
    }
</script>
<script src="/javascript/validate-nino.js?version={{assetsVersion}}" defer></script>

{% endblock %}
