{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:service-name') }}{% endblock %}

{% block meta %}
    {% if imageStatus == 'success' %}
        <meta http-equiv="refresh" content="0; url=/nino" />
    {% elif imageStatus == 'photo-fail' %}
        <meta http-equiv="refresh" content="0; url=/{{ route }}-a-photo?error=invalidPhoto" />
    {% elif imageStatus == 'photo-fail-ocr' %}
        <meta http-equiv="refresh" content="0; url=/{{ route }}-a-photo?error=ocrFailed" />
    {% elif imageStatus == 'photo-fail-size' %}
        <meta http-equiv="refresh" content="0; url=/422" />
    {% elif imageStatus == 'service-fail' %}
        <meta http-equiv="refresh" content="0; url=/{{ route }}-a-photo?error=serviceFailed" />
    {% else %}
        <meta http-equiv="refresh" content="10; url=/photo-audit" />
    {% endif %}
{% endblock %}

{% block googleTags %}
    <script>
        ga('send', 'pageview');
    </script>
{% endblock %}

{% block body %}
    {% include "includes/error-summary.html" %}

    <div class="grid-row">
        <div class="column-full">
            <div class="text-centre">
                <h1 class="heading-medium">{{ t('photo-audit:h1') }}</h1>

                <!--[if lte IE 9]>
                   <p class="margin-top-30 text-centre"><img src="/images/loading.gif" width="114" height="114" alt="{{ t('photo-audit:alt') }}"></p>
                   <style>
                        .sk-cube-grid { display: none; }
                   </style>
                <![endif]-->

                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>

                <p>{{ t('photo-audit:p') }}</p>
            </div>
        </div>
    </div>
{% endblock %}
