{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:page-title-13') }}{% endblock %}

{% block body %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-7">{{ t('thank-you:h1') }}</h1>
    <p>{{ t('thank-you:p') }}</p>

    {% if returnUrl %}
    <p><a href="{{ returnUrl }}">{{ t('thank-you:return') }}</a></p>
    {% endif %}
    <p><a href="https://www.gov.uk">{{ t('thank-you:a') }}</a></p>
</div>
{% include "includes/sidebar.html" %}
</div>
{% endblock %}
