{% extends "layout.html" %}
{% block pageTitle %}{{ t('app:service-name') }}{% endblock %}

{% block googleTags %}
<script>
    ga('send', 'pageview');
</script>
{% endblock %}

{% block body %}
<div class="grid-row">
<div class="column-two-thirds">
    <h1 class="heading-large">{{ t('thank-you:h1') }}</h1>
    <p>{{ t('thank-you:p') }}</p>
    
    {% if returnUrl %}
    <p><a href="{{ returnUrl }}">{{ t('thank-you:return') }}</a></p>
    {% endif %}
    <p><a href="https://www.gov.uk">{{ t('thank-you:a') }}</a></p>
</div>
{% include "includes/sidebar.html" %}
</div>
{% endblock %}
