// Generate a class for each icon in the format:
// .COLOR-NAME-icon {}
// --------------------------------------------------
// @each $color, $value in $brands {
//     .bg-#{$color} {
//         background-color: #{$value};
//     }
// }
.bg-gds-light-blue-25 { background-color: brand(gds-light-blue-25); }
.bg-gds-black { background-color: brand(gds-black); }
