// // Generate a class for each colour in the format:
// // uses values from: maps/colour-map
// @each $color, $value in $brands {
//     .#{$color} {
//         color: #{$value};
//     }
// }

.govuk-blue {
  color: govuk-colour("blue");
}
.gds-red {
  color: govuk-colour("red");
}
.gds-black {
  color: govuk-colour("black");
}
.gds-white {
  color: govuk-colour("white");
}
.gds-grey {
  color: govuk-colour("dark-grey");
}
