:root {
    font-family: "nta", HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color : brand(gds-black);
}

@media (min-width: 641px) {
    :root {
        font-size: 19px;
    }
}
